body {
  background-color: rgb(124, 157, 161);
}

button {
  padding: 5px;
  border: 50px;
  margin: 5px;
  margin-left: 0%;
}

.header {
  font-size: 40px;
  font-family: Helvetica;
  /* padding: 50px; */
}

.input {
  margin-top:10px;
  padding: 5px;
}